.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    height: 70vh;
    background-image: url("../img/99607494-0284-4d0f-880c-65f947723040.JPG");
    /* background-image: url("https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=600"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -500px;
    background-attachment: fixed;
}

.contact {
    font-size: 3em;
    color: white;
    font-weight: 800;
    font-family: fantasy;
}

.ContactInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    width: 100%;
    height: 60vh;
}

.ContactInfoPhone {
    display: none;
}

.welcome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-color: rgb(218, 218, 218);
}

.welcomeLetter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 86%;
    padding: 10px;
}

.welcomeImage {
    width: 40%;
    height: 86%;
    background-image: url("../img/kath1.JPG");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    overflow: hidden;
}

.welcomeLetter h2 {
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.welcomeLetter h1 {
    width: 100%;
    font-size: 2.4em;
    font-weight: 700;
    text-shadow: 3em 3em 3em 3em black;
    text-align: center;
}

.welcomeLetter p {
    width: 100%;
    text-align: justify;
}

.menuOption {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 56vh;
    background-image: url("../img/food.JPG");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -610px;
    overflow: hidden;
}

.menuOption h3 {
    text-align: center;
    width: 100%;
    font-size: 2em;
    color: white;
    position: absolute;
    padding-bottom: 100px !important;
}

.menuOption h4 {
    text-align: center;
    width: 100%;
    font-size: 4em;
    color: white;
    position: absolute;
}

.menuSlide {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 86vh;
    padding: 10px;
}

.menuSlideImage {
    width: 40%;
    height: 86%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.map {
    width: 20%;
    height: 15vh;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDHqHjUGmTSWWi5TUnLXvrlgEhfRqUGdS-mQ&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}

@media (max-width: 550px) {
    .ContactInfo {
        display: none;
    }
    .ContactInfoPhone {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
        width: 100%;
        height: 60vh;
    }
    .map {
        width: 80%;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDHqHjUGmTSWWi5TUnLXvrlgEhfRqUGdS-mQ&usqp=CAU");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100%;
    }
}